.el-drawer #el-drawer__title span {
  color: #000;
}
.el-drawer .bullets {
  width: 5px;
  height: 16px;
  border-radius: 30%;
  position: absolute;
  background: #409EFF;
  left: 8px;
  top: 24px;
}
.el-popover p{
  padding: 5px;
}
.el-tooltip__popper.is-dark{
  opacity: 0.9;
}
.el-tooltip__popper[x-placement^=bottom] .popper__arrow{
  opacity: 0.95;
}
.el-tooltip__popper{
  padding: 5px;
}
.el-table svg{
  color:#4E9BFF
}
.copy-tel{
  margin-left: 10px;
}
.svg-icon{
  margin-right: 10px;
  cursor: pointer;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.ml16{
  margin-left: 16px;
}
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}