.el-drawer #el-drawer__title span {
  color: #000;
}
.el-drawer .bullets {
  width: 5px;
  height: 16px;
  border-radius: 30%;
  position: absolute;
  background: #409EFF;
  left: 8px;
  top: 24px;
}
.el-popover p{
  padding: 5px;
}
.el-tooltip__popper.is-dark{
  opacity: 0.9;
}
.el-tooltip__popper[x-placement^=bottom] .popper__arrow{
  opacity: 0.95;
}
.el-tooltip__popper{
  padding: 5px;
}
.el-table svg{
  color:#4E9BFF
}
.copy-tel{
  margin-left: 10px;
}
.svg-icon{
  margin-right: 10px;
  cursor: pointer;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.ml16{
  margin-left: 16px;
}
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}
.red{
  color: red
}
@media screen and (min-width:0\0) { 
  .fixiedialog-margin{
    margin-bottom: 30px;
  }
}
.beautiful-title .el-dialog__title:before{
  content: "";
  width: 5px;
  height: 16px;
  background: #409EFF;
  border-radius: 3px;
  color: #409EFF;
  margin-right: 10px;
  display: inline-block; 
}
.actionHide{
  animation: hideSearch .5s;
  -moz-animation: hideSearch .5s;
  -webkit-animation: hideSearch .5s;
  -o-animation: hideSearch .5s;
}
.actionShow{
  display: block;
  animation: showSearch .5s;
  -moz-animation: showSearch .5s;
  -webkit-animation: showSearch .5s;
  -o-animation: showSearch .5s;
}
.noSearch{
  display: none;
}
@keyframes showSearch {
  0%{ opacity: 0;}
  25%{ opacity: 0.25;}
  50%{ opacity: 0.5;}
  75%{ opacity: 0.75;}
100%{opacity: 1;}
}
@keyframes hideSearch {
  0%{ opacity: 1;}
  25%{ opacity: 0.75;}
  50%{ opacity: 0.5;}
  75%{ opacity: 0.25;}
100%{opacity: 0;}
}

.el-pagination{
  padding: 16px 10px 0 0;
  text-align: right;
}