.el-drawer #el-drawer__title span {
  color: #000;
}
.el-drawer .bullets {
  width: 5px;
  height: 16px;
  border-radius: 30%;
  position: absolute;
  background: #409EFF;
  left: 8px;
  top: 24px;
}
.el-popover p{
  padding: 5px;
}

.el-table svg{
  color:#4E9BFF
}
.copy-tel{
  margin-left: 10px;
}
.svg-icon{
  margin-right: 10px;
  cursor: pointer;
}
