/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* 解决IOS默认滑动很卡的情况 */
    -webkit-overflow-scrolling : touch;
}

/* 禁止缩放表单 */
input[type="submit"], input[type="reset"], input[type="button"], input {
    resize: none;
    border: none;
}

/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 12px/1.5 Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #555;
    background-color: #F7F7F7;
    overflow-y: auto;
    overflow-x: hidden;
}
em, i {
    font-style: normal;
}
ul, li{
    list-style-type: none;
}
strong {
    font-weight: normal;
}
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.clearfix {
    zoom: 1;
}
a {
    text-decoration: none;
    color: #969696;
    font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}
a:hover {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: 'Microsoft YaHei';
}
img {
    border: none;
}
input{
    font-family: 'Microsoft YaHei';
}
/*单行溢出*/
.one-txt-cut{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*多行溢出 手机端使用*/
.txt-cut{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
}
/* 移动端点击a链接出现蓝色背景问题解决 */
a:link,a:active,a:visited,a:hover {
    background: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.flex{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.flex-wrap{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-direction{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
}

.smoke-fl{
    float: left;
}

.smoke-fr{
    float: right !important;
}

.smoke-img{
    width: 100%;
    height: 100%;
}

.smoke-inline-block{
    display: inline-block;
}

.smoke-color-main{
    color: #409EFF;
}

.smoke-background-main{
    background: #409EFF;
}
.smoke-overflow{
    overflow: hidden !important;
}

.smoke-border{
    border: 1px solid #ccc;
}

.smoke-fff{
    background: #ffffff;
}

.smoke-left-icon{
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}


.el-table .one-row {
    color: #009933;
    font-size: 18px;
}

.el-table .two-row {
    color: #009999;
    font-size: 16px;
}

.el-table .three-row {
    color: #666666;
}

.el-table .dialState {
    color: #E6A23C;
}

.el-table .readState {
    font-weight: 700;
}

.el-notification {white-space:pre !important; width: auto !important; }

.el-drawer__header{
    font-size: 16px !important;
}
.demo-ruleForm{
    border: 1px dashed #ccc;
    padding: .4rem;
    margin: .2rem;
}

.el-drawer__body .el-tree{
    margin-left: 15px;
}

.el-menu-item, .el-submenu__title{
    height: 44px !important;
    line-height: 44px !important;
}

.el-form-item{
    margin-bottom: 12px !important;
    margin-top: 10px !important;
}

.el-form-item__label{
    text-align: right !important;
    padding-right: 20px !important;
    width: 120px !important;
    color: #333;
}
.el-form-item__content{
    margin-left: 120px !important;
}

.el-card__body{
    padding: 0 !important;
}

.el-drawer__body{
    overflow-y:scroll;
}
.el-drawer__body::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
.el-drawer__body::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 0px;
}
.el-table .url-column .cell{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.inputNum{
    width: 80px !important;
    /* color: #409EFF; */
}

.el-select{
    width: 100%;
}

:focus{
    outline:0;
}

.area-select.large{
    width: 100% !important;
}
.area-select{
    height: 32px !important;
    line-height: 32px !important;
    position: relative;
    top: 4px;
}

.area-select .area-selected-trigger{
    padding: 0px 20px 7px 12px !important;
}

.cascader-menu-list .cascader-menu-option.selected{
    color: #409EFF !important;
}

.el-col-6{
    height: 54px !important;
}

.seatData .area-select .area-selected-trigger{
    /* padding: 4px 20px 7px 12px !important; */
}
.seatData{
    /* height: 40px !important; */
}
.seatData .area-cascader-wrap{
    /* height: 40px !important; */
}
.seatData .area-cascader-wrap .area-select{
    position: relative;
    top: 0px;
    /* height: 40px !important; */
}

.el-form-item__error{
    padding-top: 0 !important;
}

/* 边框的border设为none */
.borderNone input{
    border: none;
}

.el-badge__content.is-fixed {
    top: 18px;
    right: 6px;
}

.copy-icon-style{
    position: relative; 
    left: 10px;
    top: 2px;
    cursor: pointer;
    width: 14px;
    height: 14px;
}

.el-popover{
    line-height: 2.2 !important;
}

.el-textarea .el-input__count{
    color: #909399;
    background: transparent !important;
    position: absolute;
    font-size: 12px;
    bottom: -10px;
    right: 10px;
}

.el-main{
    padding: 20px;
    background: #fff;
    margin: 20px;
}

.el-menu--collapse  .el-submenu__title span{
  display: none;
}
/*隐藏 > */
.el-menu--collapse  .el-submenu__title .el-submenu__icon-arrow{
  display: none;
}

.el-table .error-row {
    background: #fff;
    color: #F56C6C;
}

/* .el-submenu__icon-arrow{
    color: #fff !important;
}
.el-submenu .el-submenu__title:hover .el-submenu__icon-arrow{
    color: #4794FE !important;
} */

.el-scrollbar__bar {
  z-index: 100 !important;
}

.el-table td, .el-table th{
    padding: 6px 0 !important;
}

.el-table .cell{
    min-height: 32px;
    line-height: 32px;
    font-size: 12px !important;
}

.el-table thead tr .is-leaf{
    background: #FAFAFA !important;
}

.el-table thead tr th{
    color: #333;
    font-weight: 500 !important;
}

.smoke-cascader1 .el-input .el-input__inner {
    height: 32px !important;
    margin-top: 1px !important;
}

.smoke-cascader .el-input .el-input__inner {
    height: 32px !important;
}

/* .smoke_seatName1{
    top: 416px !important;
}

.smoke_seatName2{
    top: 406px !important;
} */

/* .vueAudioBetter .total span:nth-of-type(2){
    display: none !important;
}

.vueAudioBetter .operatorButton .icon-roundaddfill, .vueAudioBetter .operatorButton .icon-subtract_fill{
    display: none !important;
}

.vueAudioBetter .slider{
    margin: 14px 12px 14px 22px !important;
    width: 45% !important;
    float: left !important;
    background: #E2E3E7 !important;
}

.vueAudioBetter .operatorButton{
    width: 20% !important;
    float: left !important;
    margin-right: 10px !important;
}

.vueAudioBetter .operatorButton .iconfont{
    font-size: 16px !important;
    margin-left: 8px !important;
}

.vueAudioBetter .operatorButton .rate{
    font-size: 28px !important;
}

.vueAudioBetter .slider .thunk{
    top: -3px !important;
}

.vueAudioBetter .slider .block{
    width: 16px !important;
    height: 16px !important;
}

.vueAudioBetter{
    background: #fff !important;
    border: 1px solid #ccc;
    margin: 10px 0 !important;
    box-shadow: none !important;
}

.vueAudioBetter .total{
    width: 20% !important;
    float: left !important;
    margin-top: 4px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 4px !important;
} */

.el-input.is-disabled .el-input__inner{
    color: #aaaaaa;
}

input::-webkit-input-placeholder{
    color:#aaaaaa !important;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#aaaaaa !important;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#aaaaaa !important;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#aaaaaa !important;
}


.table_active{
    text-align: center !important;
}

div.el-dialog__body{
    height: 55vh;
    overflow: auto;
}

.el-cascader__tags{
    flex-wrap: nowrap !important;
}

.tag_class{
    border-color: #409EFF !important;
    color: #333 !important;
    background-color: #EFF7FF !important;
}
.number_search{
    height: 36px !important;
    line-height: 36px !important;
    color: #666 !important;
    border: 1px solid #409EFF !important;
    background-color: #EFF7FF !important;
    margin-bottom: 16px !important;
}

.smoke-select{
    border-color: #999 !important;
    color: #999 !important;
    width: 60px !important; 
    font-size: 10px !important; 
    height: 22px !important; 
    line-height: 22px !important;
    border-radius: 4px !important;
}

/* //element-ui table的去除右侧滚动条的样式 */
/* ::-webkit-scrollbar {
    width: 12px;
    height: 1px;
} */
    /* // 滚动条的滑块 */
/* ::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 0px;
    border-radius: 8px;
} */





